body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: #044822;
  background-size: cover;
  color: white;
  font-weight: bold;
  font-size: 35px;
}

h1 {
  font-size: 100px;
  color: goldenrod;
}

#message-el {
  font-style: italic;
  font-size: 40px;
}

.button {
  color: #044822;
  font-size: 35px;
  font-weight: bold;
  width: 300px;
  background: goldenrod;
  border-radius: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: rgb(13, 63, 0);
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.close-modal {
  position: absolute;
  top: 30rem;
  right: 0rem;
  font-size: 5rem;
  color: rgb(242, 242, 242);
  cursor: pointer;
  border: none;
  background: none;
  border: 1px solid red;
}

.hidden {
  display: none;
}
